.parent {
    background-color: pink;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.parent .bunty {
    background-color: #f15;
    border-radius: 10px;
    flex-grow: 1;
    min-width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* .parent .bunty:nth-child(3) {
    background-color: #000;
} */

/* .parent .bunty:nth-last-child(3) {
    background-color: #000;
} */

.parent .bunty:nth-child(2n) {
    background-color: #000;
}

[hidden] {
    display: none;
}

/* Agreement Styling */

.checkbox {
    border: 1px solid;
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox span {
    font-size: 10px;
    color: #fff;
}

input:checked~label .checkbox {
    background-color: #000;
}

label[for=agreement] {
    cursor: pointer;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

label[for=agreement] p {
    font-size: 15px;
}