* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(#00000086, #00000074), url("background.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100svh;
}

body header {
    top: 0px;
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

body header .logo {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

body header .logo svg {
    height: 30px;
    width: 30px;
}

body header .logo span {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
}

body header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

body header nav a {
    transition: .2s ease;
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

body header nav a svg {
    color: #fd6262;
    width: 20px;
    height: 20px;
}

body header nav a span {
    transition: .2s ease;
    color: #fd6262;
}

body header nav a span:hover {
    transition: .2s ease;
    filter: brightness(60%);
}

body header nav a:hover {
    transition: .2s ease;
    color: #fd6262;
}

body header nav .btn {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px 20px;
}

body header nav .btn:hover {
    border: 1px solid #889ce7;
    background-color: #889ce7;
    color: #191919;
}

body main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;
    height: calc(100svh - 120px);
    padding: 40px;
    color: #fff;
}

body main h1 {
    font-size: 80px;
    font-weight: 500;
}

body main p {
    font-size: 35px;
    font-weight: 400;
    max-width: 500px;
}

body main a {
    background-color: #fd6262;
    border-radius: 5px;
    padding: 14px 28px;
    text-decoration: none;
    color: #191919;
}

body .chat-fixed {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #fd6262;
    border-radius: 5px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 50px;
    box-shadow: 0px 0px 10px #fd626264;
}

body .chat-fixed svg {
    width: 25px;
    height: 25px;
    color: #191919;
}