.flex{
    background-color: pink;
    border-radius: 10px;
    height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box {
    background-color: #f15;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.col {
    display: flex;
    gap: 10px;
    height: 100%;
}

.max{
    max-width: 200px;
}