.top {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.logo {
    max-width: max-content;
}

.box,
.footer,
.textarea,
.header,
.logo,
.nav {
    padding: 20px;
    width: 100%;
    background-color: #cfcfcf;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.boxes {
    display: flex;
    justify-content: center;
    height: 100svh;
    gap: 10px;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}