body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    background-color: #191919;
}

* {
    margin: 0;
}

.motor {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: motor .2s linear infinite;
}

@keyframes motor {
    100% {
        rotate: 360deg;
    }
}

.wing {
    background-color: #4ec0f140;
    width: 300px;
    height: 50px;
    position: absolute;
    border-radius: 40px 5px;
}

.rotate {
    rotate: 90deg;
}

.logo {
    z-index: 1;
    background-color: #191919;
    border-radius: 100px;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 70px;
    border: inset 8px #4ec0f154;
    box-shadow: 0px 0px 80px #4ec0f1b0;
}

@keyframes brand {
    100% {
        rotate: -360deg;
    }
}

.logo div {
    animation: brand .21s linear infinite;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo div span {
    margin-top: -8px;

}