.uae::before {
    content: "";
    width: 120%;
    background-color: #000;
    height: 1px;
    position: absolute;
    top: 45%;
    left: -10%;
}

.uae::after {
    content: "";
    width: 120%;
    background-color: #000;
    height: 1px;
    position: absolute;
    top: 55%;
    left: -10%;
}

.uae {
    font-size: 90px;
    position: relative;
}

.youtube {
    background-color: pink;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
}

@media (max-width:600px) {
    .youtube {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

.video {
    background-color: #f15;
    border-radius: 10px;
    height: 300px;
}