* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F2F4F7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
}

form {
    background-color: #fff;
    box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 28px;
    border-radius: 8px;
    width: 396px;
    gap: 14px;
}

input {
    border-radius: 6px;
    border: 1px solid #dddfe2;
    padding: 14px 16px;
    width: 100%;
}

input:focus {
    outline: 1px solid #0866FF;
}

input[type=submit] {
    background-color: #0866FF;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

a {
    color: #0866FF;
    text-decoration: none;
    font-size: 14px;
}

.hr {
    width: 100%;
    height: 1px;
    background-color: #dddfe2;
}

button {
    background-color: #60AD9F;
    border-radius: 6px;
    padding: 12px 20px;
    font-weight: 600;
    border: none;
    color: #fff;
    cursor: pointer;
}