* {
    box-sizing: border-box;
    margin: 0px;
}

.logo,
.footer,
.header,
.body {
    width: 100%;
    background-color: pink;
    padding: 20px;
}

main {
    display: flex;
    gap: 10px;
}

.child,
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.body {
    height: calc(100svh - 205.5px);
}

aside {
    min-width: 300px;
    padding: 20px;
    background-color: #090909;
    color: #efefef;
}