* {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
}

.block {
    background-color: #0074CF;
    width: 120px;
    height: 120px;
}

.logo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: perspective(180px) rotateY(-8deg);
}

.col {
    display: flex;
    gap: 10px;
}

p {
    color: #0074CF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.windows {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}