.parent {
    background-color: pink;
    height: 400px;
    display: flex;
    gap: 10px;
    padding: 10px;

    .box {
        background-color: #f15;
        width: 100%;
        height: 100%;
    }

    .left {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}