* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #F1F1F1;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 40px 25px;
}

header h1 {
    font-weight: 400;
}

header p {
    color: #2b2b2b;
    font-size: 14px;
}

header p span {
    background-color: #000;
    color: #fff;
    padding: 4px 10px;
}

main {
    display: flex;
    gap: 40px;
    padding: 0px 40px;
    width: 100%;
    margin-bottom: 40px;
}

main .blogs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

main .blogs .blog {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px #0000001b;
}

main .blogs .blog img {
    width: 100%;
    object-fit: cover;
    height: 250px;
}

main .blogs .blog .content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

main .blogs .blog .content h3 {
    font-size: 14px;
    font-weight: 400;
}

main .blogs .blog .content h3 span {
    color: #6c6c6c;
}

main .blogs .blog .content p {
    font-size: 14px;
    color: #2b2b2b;
    line-height: 18px;
}

main .blogs .blog .content .cta {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main .blogs .blog .content .cta .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #d8d8d8;
    padding: 12px 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
}

main .blogs .blog .content .cta .comments-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    gap: 10px;
    padding: 12px 20px;
}

main .blogs .blog .content .cta .comments-counter .counter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 4px 8px;
    font-size: 12px;
}

main aside {
    max-width: 450px;
}

main aside .popular {
    box-shadow: 0px 0px 20px #0000001b;
}

main aside .popular .header {
    padding: 20px;
    text-transform: capitalize;
    font-size: 20px;
}

main aside .popular .content {
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 100%;
}

main aside .popular .content .post {
    display: flex;
    gap: 15px;
    width: 100%;
    background-color: #fff;
    cursor: pointer;
    padding: 15px 20px;
}

main aside .popular .content .post .text {
    display: flex;
    gap: 4px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

main aside .popular .content .post .text h1 {
    font-size: 16px;
    font-weight: 400;
}

main aside .popular .content .post .text p {
    font-size: 12px;
    color: #2b2b2b;
}

main aside .popular .content .post img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

main aside .popular .content .post:hover {
    background-color: #d6d6d6;
}

main aside .popular .tags {
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

main aside .popular .tags span {
    background-color: #f5f5f5;
    font-size: 13px;
    padding: 4px 8px;
    cursor: pointer;
}

main aside .popular .tags .active {
    background-color: #000;
    font-size: 14px;
    color: #fff;
}

footer {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    color: #fff;
}

@media (max-width:1100px) {
    main {
        flex-direction: column;
        padding: 0px 20px;
    }

    main aside {
        max-width: unset;
    }
}