* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    box-shadow: 0px 5px 40px #0000001e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px 40px;
}

header ul,
header .hamburger,
header .header_cta,
header .header_cta .header_icons,
header .header_cta .header_icons .icon .badge,
header .header_cta .auth_cta {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}

header a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
}

header .header_cta .auth_cta {
    gap: 5px;
}

header .header_cta .auth_cta,
header .header_cta .auth_cta a {
    font-size: 12px;
    text-transform: capitalize;
    color: #696969;
}

header .header_cta .header_icons .icon {
    position: relative;
    cursor: pointer;
}

header .header_cta .header_icons .icon .badge {
    position: absolute;
    background-color: #000;
    border-radius: 100px;
    color: #fff;
    font-size: 9.5px;
    width: 18px;
    height: 18px;
    top: -14px;
    right: -10px;
    border: 2px solid #fff;
}

header ul .active {
    border-bottom: 3px solid tomato;
}

header .hamburger {
    border: 1px solid #000;
    cursor: pointer;
    display: none;
    padding: 5px;
}

header .hamburger svg {
    cursor: pointer;
    height: 20px;
    width: 20px;
}

@media (max-width:880px) {

    header ul,
    header .header_cta {
        display: none;
    }

    header .hamburger {
        display: flex;
    }
}